<div class="text-white text-center bg-primary">
  <h3 class="pad-10"> RPGenius </h3>
</div>

<div class="pad-10 text-center">
	<h1 class="text-orange">Error 404</h1>
	<h4 class="pad-10 text-orange">{{ description }}</h4>
</div>

{{> footer}}