<div id="mage-ice"></div>

  <a role="button" onclick="setWeaponIce()" class="btn btn-success rpg-wpn-select-btn" id="rpg-wpn-btn-ice" href="name.php" style="display: none;"><span class="pulsing-text-white">Select</span></a>

<div id="mage-fire"></div>

  <a role="button" onclick="setWeaponFire()" class="btn btn-success rpg-wpn-select-btn" id="rpg-wpn-btn-fire" href="name.php" style="display: none;"><span class="pulsing-text-white">Select</span></a>

<div id="mage-lightning"></div>

  <a role="button" onclick="setWeaponLightning()" class="btn btn-success rpg-wpn-select-btn" id="rpg-wpn-btn-lightning" href="name.php" style="display: none;"><span class="pulsing-text-white">Select</span></a>

<script>
const setWeaponIce = () => {
  player.weapon = new Weapon("Ice Stone", "ice");
  player.basic = "Ice Blast";
  player.special = "Glacial Barrier";
  localStorage.setItem('objPlayer', JSON.stringify(player));
}

const setWeaponFire = () => {
  player.weapon = new Weapon("Fire Stone", "fire");
  player.basic = "Fireball";
  player.special = "Immolate";
  localStorage.setItem('objPlayer', JSON.stringify(player));
}

const setWeaponLightning = () => {
  player.weapon = new Weapon("Lightning Stone", "lightning");
  player.basic = "Spark";
  player.special = "Discharge";
  localStorage.setItem('objPlayer', JSON.stringify(player));
}

$(document).ready(function(){

  $("#mage-ice").load("weapons/mage-ice.hbs");
  $("#mage-fire").load("weapons/mage-fire.hbs");
  $("#mage-lightning").load("weapons/mage-lightning.hbs");

  // --- Weapon Select Button script ---
  $("#mage-ice").click(function(){
    $("#rpg-wpn-btn-lightning").slideUp(300);
    $("#rpg-wpn-btn-fire").slideUp(300);
    $("#rpg-wpn-btn-ice").slideDown(300);
  });
  $("#mage-fire").click(function(){
    $("#rpg-wpn-btn-lightning").slideUp(300);
    $("#rpg-wpn-btn-ice").slideUp(300);
    $("#rpg-wpn-btn-fire").slideDown(300);
  });
  $("#mage-lightning").click(function(){
    $("#rpg-wpn-btn-ice").slideUp(300);
    $("#rpg-wpn-btn-fire").slideUp(300);
    $("#rpg-wpn-btn-lightning").slideDown(300);
  });

});
</script>